.base {
  background-color: rgb(246 246 239);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  .app {
    padding: 42px 0;
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
    .heading {
      color: rgb(255 102 1);
      font-weight: 900;
      font-size: 38px;
      margin-bottom: 42px;
    }
  }
}
