.posting {
  background-color: white;
  border: 1px solid rgb(220 220 220);
  border-radius: 12px;
  padding: 16px;
  // min-height: 80px;
  margin-bottom: 28px;
  .title {
    font-weight: 800;
    font-size: 24px;
  }
  .subContent {
    margin-top: 15px;
    font-size: 18px;
  }
}
.btn {
  color: white;
  background-color: rgb(255 102 1);
  border-radius: 12px;
  padding: 8px 16px;
  cursor: pointer;
  width: fit-content;
}
